@import "tailwindcss";

@theme {
	--font-rubik: var(--font-rubik), sans-serif;
}

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

/* Accessibility Features */
html.high-contrast {
	filter: contrast(125%) brightness(90%);
}

html.high-contrast img {
	filter: contrast(100%) brightness(100%);
}

html.font-size-large {
	font-size: 110%;
}

html.font-size-xlarge {
	font-size: 125%;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}

	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none;
		/* IE and Edge */
		scrollbar-width: none;
		/* Firefox */
	}
}